@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-main-title {
    @apply font-normal text-[18px] leading-[100%] tracking-normal;
  }

  .text-body {
    @apply font-normal text-base leading-[22px] tracking-normal text-center;
  }
  
  .text-heading {
    @apply font-semibold text-2xl leading-[100%] tracking-normal text-center;
  }
}
