@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-default {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #695ccd;
    color: white;
    border-radius: 9999px;
    font-weight: 400;
  }

  .btn-default:hover {
    background-color: #1f1283;
  }

  .text-shadow {
    text-shadow: 0px 0px 4px #00000080;
  }
}
